.main_foot {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #4b89dc;

  position: absolute;
  width: 100%;
  left: 0;
}

.foot_text {
  color: white;
  font-size: 15pt;
  margin-right: 50px;
  font-family: gmarket;
}
